/*----------BASIC SETUP---------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    background-color: #1c1e2a;
}

*:focus {
    outline: none;
}

form {
    padding: 20px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(240, 240, 240);
    background: #fff;
}

h1:first-child {
    padding: 20px;
}

button {
    transition: box-shadow 0.3s;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 7px 8px #d8d8d8;
}

#logoutBtn {
    float: right;
    margin-right: 40px;
    background: #ff4f56;
    color: #fff;
}

#logoutBtn:hover {
    background: #e0484e;
}
